<%-include ('./partials/header.ejs')%>
<%-include ('./partials/navbar.ejs')%>
<div class="container">
    <div class="row mt-5">
        <h1>Dashboard</h1>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia saepe porro accusantium a itaque ratione nihil rerum alias eius assumenda expedita totam id natus inventore similique est delectus, minus voluptate facere architecto dicta numquam quod. Quam eveniet expedita id necessitatibus non similique exercitationem amet deserunt, assumenda delectus, doloremque optio hic?
        </p>
   
    </div>
</div>
